$black: #000000;

$font-family-base: "Open Sans Condensed", "Arial Condensed", "Helvetica Condensed", sans-serif;
$font-size-base: 1.6rem;
$font-weight-base: 300;
$line-height-base: 1;

$font-family-monospace: "Lucida Console", Monaco, monospace;

$body-color: #ffffff;
$link-color: #ffffff;
$link-hover-color: #ffffff;
$link-decoration: none;
$link-hover-decoration: none;
$body-bg: #1f1e1d;

$headings-margin-bottom: 0;
$paragraph-margin-bottom: 0;
$label-margin-bottom: 0;

$table-cell-padding: 20px;
$table-caption-color: #ffffff;

$dt-font-weight: $font-weight-base;
